{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card mb-3" style="max-width: 640px;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.media.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            {% if product.sale %}
                <strike>{{ product.price }}€</strike>
                {{ product.sale_price }}€
            {% else %}
                {{ product.price }}€
            {% endif %}
            <!-- <a href="{% url 'home' %}" class="btn btn-secondary">Buy</a> -->
            <button type="button" class="btn btn-secondary" id="add-cart">Add to Cart</button>
            </div>
        </div>
        </div>
    </div>
</div>


<script>
    //Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}', 
            action: 'post'
        },

        success: function(json){
            console.log(json)
        },

        error: function(xhr, errmsg, err){
            
        }
    });
})
</script>

{% endblock %}