
{% extends 'base.html' %}
{% block content %}



<h3>Not Shipped Items</h3>
        <br />
        <br />
        <table class="table table-striped table-hover">
            <thead>
                
              <tr>
                <th scope="col">ID:</th>
                <th scope="col">Price</th>
                <th scope="col">Client email: </th>
                <th scope="col">Date ordered</th>
                <th scope="col">Shipping Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}  
              <tr>
                <td><a href="{% url 'orders' order.id %}">{{order.id}}</a></td>
                <td>{{order.amount_paid}}</td>
                <td>{{order.email}}</td>
                <td>{{order.date_ordered}}</td>
                <td>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="true">
                    <input type="hidden" name="num" value={{order.id}}>
                    <button type="Submit" class="btn btn-success btn-sm">Mark Shipped</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
    

{% endblock %}