{% extends 'base.html' %}
{% block content %}

<div class="container" style="padding: 20px 0 20px 0">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card"  >
                <div class="card-header">
                    Processing Order
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        {{ product.name }}

                        {% if product.sale %}
                            {{ product.sale_price }}
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                        <br />
                        <small>Qty:
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </small>
                    {% endfor %}
                    <br /> <br />
                    Total: {{ totals}}
                    <br /> <br />
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container" style="padding: 20px 0 20px 0">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Shipping Info
                </div>
                <div class="card-body">
                    Name: {{ shipping_info.shipping_full_name }}<br />
                    Email: {{ shipping_info.shipping_email }}<br />
                    Address1: {{ shipping_info.shipping_addresss1 }}<br />
                    Address2: {{ shipping_info.shipping_addresss2 }}<br />
                    City: {{ shipping_info.shipping_city }}<br />
                    State: {{ shipping_info.shipping_state }}<br />
                    Postal Code: {{ shipping_info.shipping_zipcode }}<br />
                    Country: {{ shipping_info.shipping_country }}<br />
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                </div>
                
                <div class="card">
                    <div class="card-header">
                       
                        Billing Info
                    </div>
                        <form method="POST" action="{% url 'process_order' %}">
                    {% csrf %}
                    {{ billing_form.as_p }}
                    
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">
                Pay Now
            </button>
        </form>
        </div>
    </div>
</div>

{% endblock %}

