{% extends 'base.html' %}
{% block content %}

<h3>Shipped Items</h3>
    
<br />
<table class="table table-striped table-hover">
    <thead>
        
      <tr>
        <th scope="col">ID:</th>
        <th scope="col">Price</th>
        <th scope="col">Client email:</th>
        <th scope="col">Date Shipped</th>
        <th scope="col">Shipping Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}  
      <tr>
        <td><a href="{% url 'orders' order.id %}">{{order.id}}</a></td>
        <td>{{order.amount_paid}}</td>
        <td>{{order.email}}</td>
        <td>{{order.date_shipped}}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="shipping_status" value="false">
            <input type="hidden" name="num" value={{order.id}}>
            <button type="Submit" class="btn btn-danger btn-sm">Mark Not Shipped</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}