{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3" style="max-width: 640px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.media.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    {% if product.sale %}
                        <strike>{{ product.price }}€</strike>
                        {{ product.sale_price }}€
                    {% else %}
                        {{ product.price }}€
                    {% endif %}
                    <div class="roww justify-content-center">
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select" id="select{{product.id}}">
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                    <option selected>{{ value }} </option>
                                    {% endif %}
                                {% endfor %}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" data-index="{{ product.id }}" class="btn btn-secondary cart_update">Update Quantity</button>
                    <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove from Cart</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        <div align="right">
        <h3>Total: {{ totals }} E</h3>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
        
        
        
        </div>
    {% else %}
    There is nothing in your cart
    {% endif %}
</div>

<script>
$(document).on('click', '.cart_update', function(e){
    e.preventDefault();
    // Grab product id
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: "{% url 'cart_update' %}",
    data: {
        product_id: $(this).data('index'),
        product_qty: $('#select' + productid + ' option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}', 
        action: 'post'
    },

    success: function(json){
        location.reload();
    },

    error: function(xhr, errmsg, err){
        
    }
    });
})

// Delete Item from Cart
$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // Grab product id
    // var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: "{% url 'cart_delete' %}",
    data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: '{{ csrf_token }}', 
        action: 'post'
    },

    success: function(json){
        location.reload();
    },

    error: function(xhr, errmsg, err){
        
    }
    });
})


</script>

{% endblock %}